__pycache__/
backend/chat.db
backend/app.log
backend/app/.env
frontend/node_modules/@next/swc-darwin-arm64/next-swc.darwin-arm64.node
node_modules/
frontend/.next
node_modules/

.next/
.DS_Store
.env

# ChromaDB vector store
backend/chroma_db/
chroma_db/