fastapi==0.115.0
uvicorn[standard]==0.30.6
sqlmodel==0.0.22
openai==1.109.1
python-dotenv==1.1.1
passlib[bcrypt]==1.7.4
python-jose[cryptography]==3.3.0
google-auth==2.23.4
google-auth-httplib2==0.1.1
google-auth-oauthlib==1.1.0
passlib==1.7.4
anthropic==0.69.0
together==0.2.7
argon2-cffi==25.1.0
pydantic==2.11.9
pydantic-settings==2.11.0
sqlalchemy==2.0.43
sendgrid==6.12.5
email-validator==2.3.0